@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Cormorant+Garamond:wght@500;700&display=swap');
*{
    margin: 0;
}

header{
    width: 100%;
    height: 3rem;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Cabin', sans-serif;
    color: whitesmoke;
}

.front-page{
    height: 100vh;
    /*background: url("./IMG/mikail-mcverry.png");*/
    background: linear-gradient(to top, transparent, rgb(76, 88, 114)),
    url("../IMG/mikail-mcverry.png");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 5fr;
    font-family: 'Cabin', sans-serif;

    color: whitesmoke;
}
.navbar{
    /*display: flex;
    flex-direction: row;*/
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    color: #FFF;

}

.navbar div img{
    width: 12rem;
    margin: 0 3rem;
}

.nav-side{
    display: flex;
    flex-direction: row;
    width: 28rem;
    justify-content: space-evenly;
    justify-self: end;
    align-items: center;
}

.nav-items{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
}

.nav-items-2{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content:space-around;
    justify-items: end;
}

a:link{
    text-decoration: none;
}

header div span{
    color: white !important;
}

header div a:nth-child(1){
    color: grey ;
}

header div a:nth-child(2), :nth-child(3){
    color: white ;
}

.b-menu{
    display: flex;
    border-left: 1px solid white;
    width: 15%;
    justify-content: right;
}

.b-menu svg{
    width: 1.5rem;
}

.hdr-search-bar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". search";
    height: 50px;
    justify-items: end;
    /* justify-self: end; */
    margin: 1rem 1rem;
    position: relative;
    top: 3rem;
    right: 5rem;
}

.search{
    grid-area: search;
    width: 250px;
    padding: 0.8rem 2rem;
    background-color: transparent;
    font-family: 'Cabin', sans-serif;
    border: 1px solid white;
    border-radius: 25px;
}

.search::placeholder{
    color: white;
    background-image: url('../IMG/icons/search_icon.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.search:focus-visible{
   /*  outline: 1px solid white; */
    outline: transparent;
    box-shadow: 0px -1px 8px 0px rgba(255,255,255,0.5);
}

.hdr-title{
    align-self: start;
    margin-left: 3rem;
    margin-top: 4rem;
    font-size: 2rem;
    font-weight:lighter;
    font-family: 'Cormorant Garamond', serif;
    position: relative;
}

.front-page h1{
    font-size: 4rem;
}

.front-page h3{
    position: absolute;
    top: -17px;
    left: 15px;
    font-size: 1.8rem;
    font-weight: 100;
    color: rgb(176, 176, 180);
}

.h-view-button{
    width: 18rem;
    font-family: 'Cabin', sans-serif;
    font-size: 0.5em;
    background-color: transparent;
    margin-top: 1.3rem;
    padding: 1rem 0;
    border: 1px solid white;
    border-radius: 30px;
    letter-spacing: 0.05rem;
/*     padding-right: 0.5rem; */
}

.h-view-button::before{
    content: '→';
    margin: 0 1.5rem 0 0;
}

.h-view-button:hover{
    background-color: white;
    color: #26282B;
}


.prop-gallery{
    display: grid;
    height: 550px;
    grid-template-columns: 1fr 1fr;
    padding-top: 4rem;
    margin: 3rem 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
}

.gallery{
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    justify-content: start;
    /* direction: rtl; */
}

.reverse{
    display: flex;
    flex-flow: row wrap !important;
    overflow: hidden;
    justify-content: flex-end;
}

.gal-cont{
    display: flex;
}
        
.gallery-img{
    width: 250px;
    height: 85%;
    display: grid;
    background-size:cover;
    background-position: center;
    grid-template-rows: 1fr auto;
    margin: 0.8%;
}

.gallery-title{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

.g-title{
    font-family: 'Cormorant Garamond', serif;
    margin-inline: 5rem;
}

.g-title h2{
    font-size: 3.5rem;
    text-align: right;
    line-height: 3rem;

}

.gp-h2-left{
    position: relative;
    left: -0.8rem;
    line-height: 3rem;

}

.gp-h3-left{
    text-align: right;
    position: relative;
    right: 1rem !important;
}

.g-title h3{
    font-size: 2rem;
    color: #DF991B;
    /* position: relative;
    left: 2.8rem; */
}

.g-title p{
    width: 90%;
    color: #26282B !important;
    font-size: 1.2rem;
    align-self: flex-end;
    position: relative;
    top: 3rem;
    left: 3rem;
}

.gp-prop-h3{
    position: relative;
    left: 2.8rem;
}

.gp-h2-right{
    text-align: left !important;
    position: relative;
    left: 2.8rem;
}

.g-buttons{
    display: grid;
    justify-items: center;
    align-items: baseline;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    /* margin-bottom: 3rem; */
    margin-left: 3rem;
}

.btn-view-all{
    width: 15rem;
    font-family: 'Cabin', sans-serif;
    font-size: 0.8em;
    background-color: transparent;
    margin-top: 1.3rem;
    padding: 1rem 0;
    border: 1px solid #26282B;
    border-radius: 30px;
    letter-spacing: 0.05rem;
    background-color: white;
    color: #26282B;
}

.btn-prev, .btn-next{
    background-color: transparent;
    border: none;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;

}

.btn-prev{
    color: gray;
}

.btn-prev::before{
    content: '<';
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 100;
    align-self: center;
}

.btn-next{
    color: #DF991B !important;
}

.btn-next::after{
    content: '>';
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 100;
    align-self: center;
}

.prop-img-descr{
    /*background-color: whitesmoke;*/
    font-family: 'Cormorant Garamond', serif;
    width: 100%;
    height: 20%;
    display: grid;
    align-self: end;
    align-content: center;
    grid-auto-rows: 0fr;

    background-color: whitesmoke;

    padding-bottom: 1rem;
    padding-left: 1rem;
}

.prop-gallery .prop-img-descr h4, span, p{
    color: #26282B !important;
}

.prop-gallery .prop-img-descr p{
    font-size: 1.2rem;
}

.prop-gallery .prop-img-descr h4{
    font-size: 1.5rem;
}


.g-main-title{
    justify-self: center;
    align-self: center;
    line-height: 2.8rem;
/*     margin: 2rem; */
}

.glr-title-h3{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    color: #DF991B !important;
    text-align: center;
}

.glr-title-h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 3.5rem;
    color: black !important;
    text-align: center;

}

.gallery-devs{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    height: 800px;
    align-items: center;
    margin-top: 30px;
}
.grid-g-devs{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 0.5rem;
    justify-items: center;
    margin: 0 auto;
}

.g-devs-item{
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; */
    width: 100%;
    height: 280px;
    text-decoration: none;
}

.g-devs-img{
    width: 100%;
    height: 160px;
    background-size: cover;
    background-position: end;
}
.g-devs-title{
    display: flex;
    flex-direction: column;
    margin: 1.6rem 0 0 1rem;
    font-family: 'Cormorant Garamond', serif;

}
.g-devs-title h4{
    color: grey !important;
    text-decoration: none !important;
    font-size: 1rem;
}

.g-devs-title h3:link{
    text-decoration: none !important;
    line-break: 0.8rem;
}
.g-devs-title h3{
    font-size: 1.5rem;
    color: #26282B !important;
    font-weight:700;
}

.int-des{
    display: grid;
    grid-template-columns: 1fr 70px 1fr;
    /* justify-items: center; */
    margin-left: 4rem;
    margin-top: 4rem;
    height: 650px;
    align-items: center;
}

.intdes-bg-img{
    width: 25rem;
    height: 33rem;
    background-color: #26282B;
    position: relative;
    grid-column: 1/2 !important;
    
}
.intdes-img{
    width: 28rem;
    height: 28rem;
    background-size: cover;
    background-position: center;

    position: absolute;
    left: 60px;
    top: 2.5rem;
}

.intdes-text{
    grid-column: 3/4 !important;
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 550px;
    align-items: end;
}

.id-txt{
    display: grid;
    grid-template-rows: 40px 2fr 4fr;
    align-items: baseline;
    width: 80%;

    font-family: 'Cormorant Garamond', serif;
    /* margin-inline: 5rem; */
    text-align: left;
}

.id-unq-decor{
    width: 100%;
    height: 60px;
    background-size: cover;
    background-position: center;
    align-self: start !important;
}

.id-txt h2{
    font-size: 3rem;
    color: black;
    line-height: 3rem;
}

.id-txt h3{
    font-size: 2rem;
    color: #DF991B;
    /* position: relative;
    left: 2.8rem; */
}

.id-txt p{
    width: 100%;
    color: #26282B !important;
    font-size: 1.2rem;
    align-self: center !important;
    /* position: relative;
    top: 3rem; */
    /* left: 3rem; */
}

.g-buttons-id{
    display: grid;
    width: 50%;
    align-items: baseline;
    grid-template-columns: repeat(3, 1fr);
    align-self: start;
    gap: 10px;
    /* margin-bottom: 3rem; */
    /* margin-left: 3rem; */
}

.join{
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: #26282B;
    margin: 0 4rem;
    padding: 3rem;

    align-items: center;
    position: relative;
    top: 60px;
}

.join-contact{
    display: flex;
    flex-direction: column;
}

.join-contact > input[submit]{
    width: 50px;
    align-self: end;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 40vh;

    align-items: end;
    justify-items: center;
    padding: 0 3rem;

    background-color: black;
    line-height: 1.5rem;
}

footer img{
    margin: 2rem 0;
}

footer > h4 span{
    color: whitesmoke;
}

.footer-div{
    display: flex;
    flex-direction: column;
}

.copyright{
    display: grid;
    background-color: black;
    border-top: 1px solid whitesmoke;
    padding: 0.8rem 0;;
}

.copyright span{
    justify-self: center;
    color: whitesmoke;
}