@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Cormorant+Garamond:wght@500;700&display=swap');
*{
    margin: 0;
}
header{
    height: 100vh;
    /*background: url("./IMG/mikail-mcverry.png");*/
    background: linear-gradient(to top, transparent, rgb(76, 88, 114)),
    url("../IMG/mikail-mcverry.png");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr;
    font-family: 'Cabin', sans-serif;

    color: whitesmoke;
}
.navbar{
    /*display: flex;
    flex-direction: row;*/
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    
    color: #FFF;

}

.navbar div img{
    width: 12rem;
    margin: 0 3rem;
}

.nav-side{
    display: flex;
    flex-direction: row;
    width: 28rem;
    justify-content: space-evenly;
    justify-self: end;
    align-items: center;
}

.nav-items{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
}

.nav-items-2{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content:space-around;
    justify-items: end;
}

a:link{
    text-decoration: none;
}

header div span{
    color: white;
}

header div a:nth-child(1){
    color: grey ;
}

header div a:nth-child(2), :nth-child(3){
    color: white ;
}

.b-menu{
    display: flex;
    border-left: 1px solid white;
    width: 15%;
    justify-content: right;
}

.b-menu svg{
    width: 1.5rem;
}

.hdr-search-bar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". search";
    height: 50px;
    justify-items: end;
    /* justify-self: end; */
    margin: 1rem 1rem;
    position: relative;
    right: 5rem;
}

.search{
    grid-area: search;
    width: 250px;
    padding: 0.8rem 2rem;
    background-color: transparent;
    font-family: 'Cabin', sans-serif;
    border: 1px solid white;
    border-radius: 25px;
}

.search::placeholder{
    color: white;
    background-image: url('../IMG/icons/search_icon.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.search:focus-visible{
   /*  outline: 1px solid white; */
    outline: transparent;
    box-shadow: 0px -1px 8px 0px rgba(255,255,255,0.5);
}

.hdr-title{
    align-self: start;
    margin-left: 3rem;
    margin-top: 4rem;
    font-size: 2rem;
    font-weight:lighter;
    font-family: 'Cormorant Garamond', serif;
    position: relative;
}

header h3{
    position: absolute;
    top: -25px;
    left: 10px;
    font-size: 2rem;
    font-weight: 100;
    color: rgb(176, 176, 180);
}

.h-view-button{
    width: 18rem;
    font-family: 'Cabin', sans-serif;
    font-size: 0.5em;
    background-color: transparent;
    margin-top: 1.3rem;
    padding: 1rem 0;
    border: 1px solid white;
    border-radius: 30px;
    letter-spacing: 0.05rem;
/*     padding-right: 0.5rem; */
}

.h-view-button::before{
    content: '→';
    margin: 0 1.5rem 0 0;
}

.h-view-button:hover{
    background-color: white;
    color: #26282B;
}


.prop-gallery{
    display: grid;
    height: 350px;
    grid-template-columns: 1fr 1fr;
    padding-top: 4rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    
}

.gallery{
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    justify-content: start;
    /* direction: rtl; */
}

.reverse{
    display: flex;
    flex-flow: row wrap !important;
    overflow: hidden;
    justify-content: flex-end;
}

.gal-cont{
    display: flex;
}
        
/* .gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
} */
.gallery-img{
    width: 250px;
    height: 100%;
    display: grid;
    background-size:cover;
    background-position: center;
    grid-template-rows: 1fr auto;

}

.prop-img-descr{
    /*background-color: whitesmoke;*/
    width: 100%;
    height: 30%;
    display: grid;
    align-self: end;
    align-content: center;
    grid-auto-rows: 0fr;

    background-color: whitesmoke;

    padding-bottom: 1rem;
    padding-left: 1rem;
}

.prop-gallery .prop-img-descr h4, span{
    color: #26282B;
}

.gallery-title{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 50vh;
}
.g-main-title{
    justify-self: center;
    align-self: center;
    margin: 2rem;
}

.g-title{
    margin: 3rem;
}
.sale{
    justify-self: end;
    display: grid;
}

.sale h3{
    justify-self: end;
    align-self: end;
    margin: 0;
}

.g-buttons{
    justify-self: center;
    align-self: end;
    margin-bottom: 3rem;
}

.gallery-devs{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
}
.grid-g-devs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    justify-items: center;
    margin: 0 auto;
}

.g-devs-item{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 280px;
}

.g-devs-img{
    width: 300px;
    height: 180px;
    /*background-image: url("./IMG/surf_row.jpg");*/
    background-size: cover;
    background-position: end;
}
.g-devs-title{
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 1rem;
    /*align-self: center;
    margin: 2rem 1rem;*/
}
.g-devs-title h4{
    color: grey;
}
.g-devs-title h3{
    font-size: 1.2rem;
}

.int-des{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    margin: 0 4rem;
    margin-top: 4rem;

    align-items: center;
}

.intdes-bg-img{
    width: 450px;
    height: 600px;
    background-color: #26282B;
    position: relative;
}
.intdes-img{
    width: 450px;
    height: 450px;
    background-size: cover;
    background-position: center;

    position: absolute;
    left: 100px;
    top: 75px;
}

.join{
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: #26282B;
    margin: 0 4rem;
    padding: 3rem;

    align-items: center;
    position: relative;
    top: 60px;
}

.join-contact{
    display: flex;
    flex-direction: column;
}

.join-contact > input[submit]{
    width: 50px;
    align-self: end;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 40vh;

    align-items: end;
    justify-items: center;
    padding: 0 3rem;

    background-color: black;
    line-height: 1.5rem;
}

footer img{
    margin: 2rem 0;
}

footer > h4 span{
    color: whitesmoke;
}

.footer-div{
    display: flex;
    flex-direction: column;
}

.copyright{
    display: grid;
    background-color: black;
    border-top: 1px solid whitesmoke;
    padding: 0.8rem 0;;
}

.copyright span{
    justify-self: center;
    color: whitesmoke;
}