/* @media(min-width: 720px) and (max-width: 960px){
    .intdes-bg-img{
    position: relative;
    left: 10%;
    } 
} */

@media(min-width: 320px) and (max-width: 720px){
    *{
        margin: 0;
    }
    
    html{
        font-size: 14px;
    }
    
    .nav-items, .nav-items-2{
        display: none;
    }

    header{
        background: linear-gradient(to top, transparent, #b3bfda);
        border: 1px solid red;
        max-width: 100vw !important;
    }

    header .unq_logo_d{
        display: none;
    }

    header .unq_logo_m, header .unq_logo_m img{
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-left: 0.8rem;
    }

    .front-page{
        background: linear-gradient(to bottom, transparent, #475b85), url("../IMG/mikail-mcverry.png");
        filter: brightness(85%);
        filter: contrast(102%);
        background-size: cover;
        background-position: center;
        height: 75vh;
    }

    .hdr-search-bar{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: ". search .";
        justify-items: center;
        width: 100%;
        margin: 0;

        position: relative;
        top: 4rem;
        right: 0;
    }
    
    .search{
        grid-area: search;
        width: 270px;
        height: 40px;
        margin-top: 1.5rem;
        padding: 0.8rem 2rem;
        background-color: transparent;
        font-family: 'Cabin', sans-serif;
        border: 1px solid white;
        border-radius: 25px;
    }
    .search::placeholder{
        color: white;
        background-image: url('../IMG/icons/search_icon.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: 200px;
    }

    .hdr-title{
        margin-inline: 1.5rem;
    }

    .hdr-title h1{
        font-size: 3.6rem;
    }

    .hdr-title h3{
        left: 2px;
    }

    .h-view-button{
        width: 19.5rem;
    }

    .hdr-slide{
        display: grid;
        width: 40%;
        height: 5px;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin: 20px auto;
    }
    .hdr-slide div{
        background-color: #f5f5f5;
        border-radius: 10px;
    }

    .prop-gallery{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "text"
        "gallery";
        height: auto;
        padding: 0;
    }

    .prop-gallery .gallery{
        grid-area: gallery;
    }

    .prop-gallery .gallery-title{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5rem;
        
        grid-area: text;
    }

    .gallery-title .g-title{
        margin-inline: 1.5rem;
    }

    .gallery-title h2, .g-main-title h2{
        font-size: 2.6em;
    }
    .gallery-title h3, .g-main-title h3{
        font-size: 1.8rem;
    }
    .gallery-title .gp-h3-left, .gallery-title .gp-h2-left, .gallery-title .gp-prop-h3, .gallery-title .gp-h2-right{
        text-align: left;
        position: static;
    }
    .gallery-title p{
        position: static;
        margin-top: 1rem;
    }

    .pr-buttons{
        display: none;
    }
    .pr-link{
        display: block;
        width: 18rem;
        font-family: 'Cabin', sans-serif;
        font-size: 1.2em;
        margin: 1.5rem 1.5rem;
        letter-spacing: 0.05rem;
        color: #DF991B;
    }
    .pr-link::before{
        content: '→';
        margin: 0 1.5rem 0 0;
    }

    .prop-gallery .reverse{
        justify-content: start;
    }
    .prop-gallery .gallery{
        margin-left: 1rem;
    }
    .prop-gallery .gallery-img{
        width: 200px;
        height: 100%;
    }

    .gallery-devs{
        height: auto;
        margin: 0;
    }

    .g-main-title, .g-main-title h3{
        justify-self: left;
        text-align: left;
    }
    .g-main-title{
        /* margin-left: 1.5rem; */
        line-height: 2.2rem;
        margin: 0 1.5rem;
    }

    .grid-g-devs{
        display: none;
    }

    .grid-m-devs{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .grid-m-devs .g-devs-img{
        background-size: cover;
        background-position: center;
        background-position-y: -80px;
    }
    .grid-m-devs .g-devs-title{
        margin: 1.5rem 2rem;
    }


    .int-des{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80vh 30px 1fr;
        grid-template-areas: 
            "id-text"
            ". "
            "id-img";
        height: auto;
    }

    .intdes-text{
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 60px 70vh 50px; */
        align-items: center;
        justify-items: left;
        grid-area: id-text;
        grid-column: 1/2 !important;
    }

    .intdes-text .id-unq-decor{
        width: 95%;
        height: 40px;
        margin-left: 1.5rem;
        align-self: center !important;
    }

    .intdes-text .id-txt{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 1fr 2fr;
        width: 90%;
        text-align: left;
        margin-inline: 1.5rem;
        position: static;
    }

    .intdes-text a{
        align-self: start;
    }

    .intdes-bg-img{
        grid-area: id-img;
        width: 80%;
        position: relative;
        left: 0;
    }
    .intdes-bg-img .intdes-img{
        position: absolute;
        left: 30px;
        width: 20rem;
    }

    .g-buttons-id{
        display: none;
    }
    .intdes-bg-img .hdr-slide{
        position: relative;
        top: 90vh;
        left: 2.3rem;
    }

    .join-container{
        height: auto;
    }

    .join{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: 0 1.5rem;
        padding: 3rem 2rem;
    }
    .join .j-title{
        padding: 0;
    }
    .join-contact{
        text-align: left;
    }
    .join-contact .join-btn{
        display: none;
    }
    .join .pr-link{
        display: block;
        width: 10rem;
        margin-left: 0;
        margin-bottom: 0;
    }

    footer{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
            "logo logo"
            "become become"
            "suites houses"
            "call-center call-center";
        height: 110vh;

        text-align: left !important;
        justify-items: left;
        align-items: center;
        padding: 0;
        padding-left: 2rem;
        
    }
    footer div img{
        grid-area: logo;
    }
    footer :nth-child(1){
        grid-area: become;
    }
    footer :nth-child(2){
        grid-area: suites;
    }
    footer :nth-child(3){
        grid-area: houses;
    }
    footer :nth-child(4){
        grid-area: call-center;
        text-align: left !important;
        margin-left: 0;
    }
    .copyright{
        max-width: 100vw;
        border: 1px solid red;
    }
} 

